Index
<div class="container-fluid">
  <div class="col-md-2">
    <div ng-repeat="system in data">
      {{system._solarSystemID}}
    </div>
  </div>
  <div class="col-md-2">
    <div ng-repeat="system in data">
      {{system._shipJumps}}
    </div>
  </div>
</div>